<%- partial("/_partials/_header") %>
<div class="page-background">
	<div class="container page-container">
		<div class="col-md-3">
			<%- partial("/_partials/_navigation") %>
			<div class="row text-center certification-sub hidden-xs hidden-sm">
				<span>
					<img class="img-thumbnail img-circle badges" src="/images/isnetworld-seal.png">
					<img class="img-thumbnail img-circle badges" src="/images/cor-seal.png">
				</span>
			</div>
		</div>
		<div class="col-md-9">
			<article class="page-content">
				<div class="page-title-background">
					<h2 class="page-title"><%= pageTitle %></h2>
				</div>
				<div class="page-content-article">
			        <!-- <%- partial("/_partials/_equipment") %> -->
							<div class="form-group pull-right">
    						<input type="text" class="search form-control" placeholder="Search Equipment">
							</div>
							<span class="counter pull-right"></span>
							<table class="table table-hover table-bordered table-striped results">
								<thead>
						    	<tr>
						        <th>Equipment and Manpower</th>
						      </tr>
									<tr class="warning no-result">
      							<td colspan="4"><i class="fa fa-warning"></i> No result - Please contact us</td>
    							</tr>
						    </thead>
								<tbody id="equipmentData">

								</tbody>
							</table>
				</div>
			</article>
		</div>
	</div>
</div>
<%- partial("/_partials/_footer") %>
